<div id="view">
    <h2><%:GRE %></h2>

	<div id="gre_rows" class="table">
		<div class="tr table-titles">
			<div class="th">N</div>
			<div class="th">Name</div>
			<div class="th">Active</div>
			<div class="th center nowrap cbi-section-actions"><%:Actions %></div>
		</div>
	</div>
	<div class="cbi-page-actions">
        <input class="cbi-button cbi-button-apply" type="button" value="Create new" onclick="showModal(new GreData())"> 
    </div>
</div>

<script type="text/javascript">

var GreData = function() {
	this.name = "";
	this.localAddr = "";
	this.remoteAdderss = "";
	this.netType = "";
	this.bridge = "";
	this.tunnelIp = "";
	this.tunnelMask = "";
	this.greKey = "";
	this.zone = "";
	this.notFragment = "1";
}

var localAddresses = {"loopback":"loopback"};
var bridges = {"bridge1":"bridge1", "bridge2":"bridge2"};
var firewallZones = {};
var networkTypes = {"L2 layer":"L2 layer"};

function showModal(greData) {
	L.require('ui').then(function(ui) {
		var name = new ui.Textfield(greData.name, {
			placeholder: "Name",
			optional: false,
			validate: function(inp) {
				return true;
			}
		});

		var localAddr = new ui.Dropdown(greData.localAddr, localAddresses, {
			multiple: false,
			optional: false
		});

		var remoteAdderss = new ui.Textfield(greData.remoteAdderss, {
			placeholder: "Remote IP",
			optional: false,
		});

		var netType = new ui.Dropdown(greData.netType, networkTypes, {
			multiple: false,
			optional: false
		});

		var bridge = new ui.Dropdown(greData.bridge, bridges, {
			multiple: false,
			optional: false,
			create: true,
		});

		var tunnelIp = new ui.Textfield(greData.tunnelIp, {
			optional: false,
			placeholder: "Local IP for tunnel"
		});

		var tunnelMask = new ui.Textfield(greData.tunnelMask, {
			optional: false,
			placeholder: "Netmask"
		});

		var greKey = new ui.Textfield(greData.greKey, {
			optional: false,
			placeholder: "Leave blank if not used"
		});

		var zone = new ui.Dropdown(greData.firewallZones, firewallZones, {
			multiple: false,
			create: true,
			optional: false
		});

		var notFragment = new ui.Checkbox(greData.notFragment);

		L.showModal('Configure GRE tunnel', [
			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Name %>')),
				E('div', { class: 'cbi-value-field' }, [name.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Local address %>')),
				E('div', { class: 'cbi-value-field' }, [localAddr.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Remote address %>')),
				E('div', { class: 'cbi-value-field' }, [remoteAdderss.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Network type %>')),
				E('div', { class: 'cbi-value-field' }, [netType.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Add to Bridge or create new %>')),
				E('div', { class: 'cbi-value-field' }, [bridge.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Tunnel IP %>')),
				E('div', { class: 'cbi-value-field' }, [tunnelIp.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Tunnel netmask %>')),
				E('div', { class: 'cbi-value-field' }, [tunnelMask.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:GRE key %>')),
				E('div', { class: 'cbi-value-field' }, [greKey.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Firewall zone %>')),
				E('div', { class: 'cbi-value-field' }, [zone.render()])
			]),

			E('div', { class: 'cbi-value' }, [
				E('label', { 'class': 'cbi-value-title' }, _('<%:Dont fragment packets %>')),
				E('div', { class: 'cbi-value-field' }, [notFragment.render()])
			]),

			E('div', { class: 'cbi-value-field' }, [
				E('div', {
					class: 'btn',
					click: function() {
						L.hideModal()
					}
				}, _('Close')),
				' ',
				E('div', {
					class: 'btn success',
					click: function() {
						//TODO: save data to config file
						L.hideModal()
					}
				}, _('Save')),
			]),
		]);
	});
}

</script>