                                                                   
<div id="view">
    <h2><%:Create new GRE %></h3>

	<div class="cbi-map">
        <div class="cbi-map-section">
	        <div class="cbi-map-section-node">
                
                <div class="cbi-value">
                    <label class="cbi-value-title">Name</label>
                    <div class="cbi-value-field">
                        <input type="text" class="cbi-input-text" value="" placeholder="Name">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Local Address</label>
                    <div class="cbi-value-field">
                        <select>
                            <option value="loopback">loopback</option>
                        </select>
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Remote Address</label>
                    <div class="cbi-value-field">
                        <input type="text" class="cbi-input-text" value="" placeholder="Remote IP">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Network Type</label>
                    <div class="cbi-value-field">
                        <select>
                            <option value="loopback">L2 layer</option>
                        </select>
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Add to Bridge or Create New</label>
                    <div class="cbi-value-field">
                        <select>
                            <option value="loopback">new network</option>
                        </select>
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Tunnel IP</label>
                    <div class="cbi-value-field">
                        <input type="text" class="cbi-input-text" value="" placeholder="Local IP for tunnel">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Tunnel Mask</label>
                    <div class="cbi-value-field">
                        <input type="text" class="cbi-input-text" value="" placeholder="Netmask">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">GRE key</label>
                    <div class="cbi-value-field">
                        <input type="text" class="cbi-input-text" value="" placeholder="Leave blank if not used">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Firewal Zone</label>
                    <div class="cbi-value-field">
                        <select>
                            <option value="none">none</option>
                        </select>
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Don't Fragment packets</label>
                    <div class="cbi-value-field">
                        <input type="checkbox" class="cbi-input-checkbox" value="1" checked>
                    </div>
                </div>

            </div>
        </div>
	</div>
    <div class="cbi-page-actions">
        <input class="cbi-button cbi-button-apply" type="button" value="Apply" onclick=""> 
        <input class="cbi-button cbi-button-reset" type="button" value="Close" onclick=""> 
    </div>
</div>
