<% --[[=========== JS ==========]] %>
<%+vpnconfig/vpnconfig.js%>

<% --[[=========== LUA BACKEND ==========]] %>
<%
	local vpnType = "pptp"
%>

<div id="view">
    <h2><%:PPTP Client %></h2>

	<div class="cbi-map">
        <div class="cbi-map-section">
	        <div class="cbi-map-section-node">
                <div class="cbi-value">
                    <label class="cbi-value-title">Enable PPTP client</label>
                    <div class="cbi-value-field">
                        <input type="checkbox" id="isActive" class="cbi-input-checkbox" value="0">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Server</label>
                    <div class="cbi-value-field">
                        <input type="text" id="server" class="cbi-input-text" value="" placeholder="Server address">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Use as default route</label>
                    <div class="cbi-value-field">
                        <input type="checkbox" id="isDefaultRoute" class="cbi-input-checkbox" value="0">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Username</label>
                    <div class="cbi-value-field">
                        <input type="text" id="username" cbi-input-text" value="" placeholder="Username">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Password</label>
                    <div class="cbi-value-field">
                        <input type="password" id="password" class="cbi-input-text" value="" placeholder="Password">
                        <button class="cbi-button cbi-button-neutral" title="Показать/скрыть пароль" aria-label="Показать/скрыть пароль" onclick="">∗</button>
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Use MPPE (MS-CHAP-V2 auth)</label>
                    <div class="cbi-value-field">
                        <input type="checkbox" id="isMPPE" class="cbi-input-checkbox" value="0">
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Authentication type</label>
                    <div class="cbi-value-field">
                        <select id="authType" value="">
                            <option value="any">any</option>
                            <option value="EAP">EAP</option>
                            <option value="PAP">PAP</option>
                            <option value="CHAP">CHAP</option>
                            <option value="MSCHAP">MSCHAP</option>
                            <option value="MSCHAPv2">MSCHAPv2</option>
                        </select>
                    </div>
                </div>

                <div class="cbi-value">
                    <label class="cbi-value-title">Additional options</label>
                    <div class="cbi-value-field">
                        <input type="text" id="addOptions" class="cbi-input-text" value="" placeholder="Additional options">
                    </div>
                </div>
            </div>
        </div>
	</div>
    
    
    <div class="cbi-page-actions">
        <span id="btn_enable_spinner" class="btn_spinner"></span> 
        <input class="cbi-button cbi-button-apply" type="button" value="Save" onclick="apply()"> 
        <input class="cbi-button cbi-button-reset" type="button" value="Reset" onclick="reset_fields()"> 
    </div>
</div>


<script type="text/javascript">
//<![CDATA[

class PptpData {
    name = "pptp1";
    type = '<%=vpnType%>';
    isActive = false;
    options = {
        server: "",
        username: "",
        password: "",
        authType: "",
        addOptinos: "",
        isMPPE: false,
        isDefaultRoute: false,
    };
}

var g_pptpData = new PptpData();

get_cfg_data('<%=vpnType%>', function(sections) {
    g_pptpData.isActive = parse_bool(sections[0]['isActive']);
    g_pptpData.options['server'] = sections[0]['server'];
    g_pptpData.options['username'] = sections[0]['username'];
    g_pptpData.options['password'] = sections[0]['password'];
    g_pptpData.options['authType'] = sections[0]['authType'];
    g_pptpData.options['addOptinos'] = sections[0]['addOptinos'];
    g_pptpData.options['isMPPE'] = parse_bool(sections[0]['isMPPE']);
    g_pptpData.options['isDefaultRoute'] = parse_bool(sections[0]['isDefaultRoute']);
    fill_form(g_pptpData);
});

function fill_form(pptpData) {
    $('#server').val(pptpData.options['server']);
    $('#username').val(pptpData.options['username']);
    $('#password').val(pptpData.options['password']);
    $('#addOptinos').val(pptpData.options['addOptinos']);
    $('#authType').val(pptpData.options['authType']);
    $('#isMPPE').prop('checked', pptpData.options['isMPPE']);
    $('#isDefaultRoute').prop('checked', pptpData.options['isDefaultRoute']);
    $('#isActive').prop('checked', pptpData.isActive);
}

function reset_fields() {
    fill_form(g_pptpData);
}

function apply() {
    var pptpData = new PptpData();
    pptpData.options['server'] = $('#server').val();
    pptpData.options['username'] = $('#username').val();
    pptpData.options['password'] = $('#password').val();
    pptpData.options['addOptinos'] = $('#addOptinos').val();
    pptpData.options['authType'] = $('#authType').val();
    pptpData.options['isMPPE'] = $('#isMPPE').prop('checked');
    pptpData.options['isDefaultRoute'] = $('#isDefaultRoute').prop('checked');
    pptpData.isActive = $('#isActive').prop('checked');
    
    send_action("edit", pptpData, function(){
        if (pptpData.isActive == g_pptpData.isActive) {
            location.reload();
        } else {
            send_action("enable", pptpData, function(){
                location.reload();
            });
        }
    });
}

//]]>
</script>