<% --[[=========== LUA BACKEND ==========]] %>
<%
	local config = "vpnconfig"
%>

<script src="/luci-static/resources/tsmodem/jquery/jquery-3.5.1.min.js"
		type="text/javascript"
		charset="utf-8"></script>

<script type="text/javascript">

// base class for form data
function VpnData(){
	name = "";
	type = "";
	isActive = false;
}

function spinner(state) {
	var element = document.getElementById("btn_enable_spinner");
	if (state === true) {
		element.style.width = "16px";
		element.innerHTML = '<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" width="16" height="16" style="vertical-align:middle" />';
	}
	else {
		element.style.width = "0px";
		element.innerHTML = '';
	}
}

function get_cfg_data(vpnType, callback) {
	spinner(true);
	L.require("uci").then(function(uci) {
		uci.load("<%=config%>").then(function(out){
			var sections = uci.sections('<%=config%>', vpnType);
			if (callback) {
				callback(sections);
			}
			spinner(false);
		});
	});
}

function addRow(elementId, data) {
	var container = E('div', { id: data.name, class: 'tr '}, [
		E('div', {class: 'td'}, E('div', {}, data.name)),
		E('div', {class: 'td'}, E('div', {id: data.name+'-active'}, (data.isActive == true ? 'yes' : 'no'))),
		E('div', {class: "nowrap cbi-section-actions td", style: "text-align: center;"}, [
			E('div', {class: 'btn cbi-button-apply', style: "display: initial;", click: function() {activateConfig(data);}}, _('Activate')),' ',
			E('div', {class: 'btn cbi-button-apply', style: "display: initial;", click: function() {showModal(data);}}, _('Edit')),' ',
			E('div', {class: 'btn cbi-button-apply', style: "display: initial;", click: function() {deleteConfig(data);}}, _('Delete')),
		])
	])
				
	var viewWrapper= document.getElementById(elementId);
	viewWrapper.appendChild(container);
}

function commitConfig(data) {
	L.require('uci').then(function(uci){
		var section = uci.get('<%=config%>', data.name);
		if (!section) {
			send_action("add", data, function(){
				location.reload();
			});
		} else {
			send_action("edit", data, function(){
				location.reload();
			});
		}
	});
}

function activateConfig(data) {
	data.isActive = !data.isActive; 
	send_action("enable", data, function(){
		location.reload();
	});
}

function deleteConfig(data) {
	send_action("delete", data, function(){
		location.reload();
	});
}

function send_action(action, data, callback) {
	var xhr = new XHR(false);
	var url = '<%=luci.dispatcher.build_url("admin", "services", config, "action")%>/'+ '%h/%h'.format(action);
	spinner(true);

	xhr.post(url, data, function(resp) {
		if (!resp) {
			return;
		}
		console.log(action+' success');
		spinner(false);

        if(callback) callback();
	});
}

function parse_bool(value) {
    return value == 'true' || value == 1;
}

function make_dropdown_options(list) {
    var result = {};
    var item = "";

    for(i in list) {
        item = list[i];
        result[item] = item;
    }

    return result;
}

function get_firewall_zone_list(callback) {
	L.require("uci").then(function(uci) {
		uci.load('firewall').then(function(out){
			var zones = uci.sections('firewall', 'zone');
			var result = ["<none>",];
			for (z in zones) {
				result.push(zones[z].name);
			}
			callback(result);
		});
	});
}

</script>