<% --[[=========== LUA BACKEND ==========]] %>
<%
	local config = "vpnconfig"
%>

<script src="/luci-static/resources/tsmodem/jquery/jquery-3.5.1.min.js"
		type="text/javascript"
		charset="utf-8"></script>

<script type="text/javascript">

function spinner(state) {
	var element = document.getElementById("btn_enable_spinner");
	if (state === true) {
		element.style.width = "16px";
		element.innerHTML = '<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" width="16" height="16" style="vertical-align:middle" />';
	}
	else {
		element.style.width = "0px";
		element.innerHTML = '';
	}
}

function get_cfg_data(vpnType, callback) {
	spinner(true);
	L.require("ui").then(function(ui){
		L.require("uci").then(function(uci) {
			uci.load("<%=config%>").then(function(out){
				var sections = uci.sections('<%=config%>', vpnType);
				if (callback) {
					callback(sections);
				}
				spinner(false);
			});
		});
	});
}

function send_action(action, vpnType, data, callback) {
	var xhr = new XHR(false);
	var url = '<%=luci.dispatcher.build_url("admin", "services", config, "action")%>/'+ '%h/%h'.format(action, vpnType);
	spinner(true);

	xhr.post(url, data, function(resp) {
		if (!resp) {
			return;
		}
		console.log(action+'/'+vpnType+' success');
		spinner(false);

        if(callback) callback();
	});
}

function parse_bool(value) {
    return value == 'true' || value == 1;
}

function make_dropdown_options(list) {
    var result = {};
    var item = "";

    for(i in list) {
        item = list[i];
        result[item] = item;
    }

    return result;
}

</script>