<script type="text/javascript">
    
function send_action(action, vpnType, data) {
	var xhr = new XHR(false);
	var url = '<%=luci.dispatcher.build_url("admin", "services", "vpnconfig", "action")%>/'+ '%h/%h'.format(action, vpnType);
	// var btn_spinner = document.getElementById("btn_enable_spinner");;
	// spinner(btn_spinner, 1);

	xhr.post(url, data, function(resp) {
		if (!resp) {
			return;
		}
		console.log(action+'/'+vpnType+' success');
		// spinner(btn_spinner, 0);
		location.reload();
	});
}

</script>